@import "nib"
@import "iconos.styl"


$gris = #d9d9d9
$naranja = #ff5d00
$celeste2 = #c5e4e7
$celeste = #00bef1
$azul = #39579a



html, body
	background url("../img/bgr_pattern.jpg")
	//background-color $naranja
	font-family 'Open Sans', sans-serif
	font-size 14px
	height 100%

p 
	line-height 24px	

*:focus 
	outline none
   
.inner
	margin 0 auto
	width 960px
	
.wrap
	//height 100%
	min-height 100%
	position relative 
	

table 
	form
		margin 0 6px
table
	.btn
		margin-right 4px
.error
	color $naranja
	//font-size px

.btn
	color #FFF
	//height 25px
	display block
	text-decoration none
	padding 0.5em
	text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
	box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
	
.btn-sell
	display inline-block
	position fixed
	left 0px
	text-align center
	box-shadow 1px 1px 2px rgba(0, 0, 0, .75)
	font-weight bold
	&:hover
		background $celeste
		
.btn-naranja
	background-color $naranja
	border-color #51a351 #51a351 #387038
.btn-celeste
	background-color $celeste2
	border-color #51a351 #51a351 #387038
.naranja
	background-color $naranja


 input[type="text"],input[type="button"],input[type="submit"],input[type="password"],input[type="email"],textarea
	display inline-block
	vertical-align top
	margin 0
	border 0
 input[type="button"],input[type="submit"]
	background #000
	color #FFF
	padding .6em
	font-size 1em

//SLIDER BACKGROUND 
.fullscreen-slideshow 
	list-style none
	width 100%
	max-width 100%
	height 100%
	position fixed
	top 0
	left 0
	z-index 0
	padding 0
	margin 0

 
	li 
		position absolute
		width 101%
		height 101%
		top -0.5%
		left -0.5%
		opacity 0
		/*-webkit-transition: opacity 6s;
		-moz-transition: opacity 6s;
		transition: opacity 6s;*/

		img 
			display block
			width 100%
			
	
		

 
/* If background-size supported we'll add the images to the background of the li */
 
 .backgroundsize .fullscreen-slideshow li 
	-webkit-background-size cover
	-moz-background-size cover
	background-size cover
	background-position center center

 
/* ...and hide the images */
 .backgroundsize .fullscreen-slideshow li img 
	display none


/* Fallback */
 
.no-js.no-backgroundsize .fullscreen-slideshow li:first-child 
	opacity 1

 
.no-js.backgroundsize .fullscreen-slideshow li:first-child img 
	display block


///////////////////
header
	//background #000000
	background-image linear-gradient(to bottom, #000000 0%, #45494d 100%)
	border-bottom 3px solid $celeste2
	height 60px
	width 100%
	position fixed 
	z-index 2
	top 0
	left 0

	#buscador-mini
		margin-top 10px

		.link-search
			.icon-search
				padding-right 5px
	#buscador-mini, #login
		float left
		position relative
		margin-left 20px

		#container-login
			right 0
			a 
				color #000
				text-decoration underline
			a:hover
				color $naranja

		#container-search, #container-login
			background url("../img/bgr_pattern.jpg")
			width 200px
			padding 24px
			border-radius: 6px
			position absolute
			display none
			border 1px solid #e3e3e3
			z-index 2
			box-shadow 0 5px 6px 1px rgba(0, 0, 0, 0.5)

			.buttons
				margin 20px auto
				text-align center

				a 
					background #f5f5f5
					color #000
					display inline-block 
					text-decoration none
					padding .4em
					background-image linear-gradient(to bottom, #ffffff, #e6e6e6)
					background-repeat repeat-x
					
					border-color #e6e6e6 #e6e6e6 #bfbfbf
					border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
					
					border: 1px solid #cccccc
					border-bottom-color #b3b3b3
					box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
					font-size 14px

			
			.lupa
				display inline-block
				vertical-align top
				margin 0
				border 0
			.lupa
				background #FFF
				color $gris
				margin-right -4px
				//font-size 2em
				padding 0.40em

			fieldset
				margin 0 auto
				text-align center
				background #fff
				border: 0
			input[type="radio"] + label 
				margin-right 20px


			label
				color #45494d
				font-size 14px
				font-weight bold
			
			h3,label
				color #45494d
				font-size 12px
				

			input[type="text"],input[type="password"],input[type="email"]
				width 170px
				height 24px
				margin-right -4px
				margin 0
				border 0
			input[name="code"]
				width 120px

			.arrow-select
				background url(../img/spriteFlecha.png) no-repeat -25px 4px #fff
				display block
				width 30px
				height 24px
				position absolute
				right 0

			.styled-select-precios
				width 85px
				height 24px
				overflow hidden
				background #FFF
				display inline-block
				margin-right 10px
				position relative
				

				select
					background transparent
					width 85px
					padding 5px 10px
					font-size 12px
					font-weight bold
					line-height 1
					border 0
					height 24px
					-webkit-appearance none
					color #45494d
					position relative
					z-index 2

			.styled-select-tipopropiedad
				width 195px
				height 24px
				overflow hidden
				background url(../img/spriteFlecha.png) no-repeat 335px 10px #FFF
				display inline-block
				margin-right 20px
				position relative

				select
					background transparent
					width 180px
					padding 5px 10px
					font-size 12px
					font-weight bold
					line-height 1
					border 0
					height 24px
					-webkit-appearance none
					color #45494d
					position relative
					z-index 2

	

	#logo, #login, #menu
		display inline-block
		vertical-align top
	
	#logo
		//background url('../img/bg_logo.png') no-repeat top center;
		height 44px
		width 240px
		position relative
		top 5px
		transition all .2s ease

		

		a
			display block
			padding 0 0 0 10px
		span
			display none
		img 
			width 100%
	
	#logo:hover
		transform scale(1.1,1.1)
		//top 20px

	#login 
		float right
		padding-top 20px
		padding-right 10px
		a
			color #FFF
			text-decoration none

			span
				padding-right 5px

		a:hover
			color $gris
	

	#menu
		ul
			padding 0 
			li 
				display inline-block
				vertical-align top
				margin-right 1em

				a 
					text-decoration none
					color #fff
				a:hover
					color $gris




.login-index
	position absolute
	top 50%
	left 50%
	width 280px
	margin-top  -140px
	margin-left -140px
	background #fff
	box-shadow 0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
	border-radius 3px

	.control-group,.form-actions
		position relative
		padding 1px
		width 210px
		margin 0 auto 20px

	input[type="text"],input[type="password"],input[type="email"]
		border-radius 3px
		border 1px solid #c3c3c3
		padding 0.7em 0.9em
		width 186px
		display block
		font-size 13px
		//height 54px
		/*-webkit-box-shadow  0 0 1px #e1e1e1, inset 0 1px 1px rgba(0,0,0,.5)
		-moz-box-shadow  0 0 1px #e1e1e1, inset 0 1px 1px rgba(0,0,0,.5)
		box-shadow  0 0 1px #e1e1e1, inset 0 1px 1px rgba(0,0,0,.5)*/

	label 
		margin-bottom 5px
		display block

	.alert 
		width auto
		margin 1em
	.links-index
		font-size 11px
		margin 1em 2.5em
		a 
			text-decoration none
			color #000
		a:hover
			text-decoration underline
	.links-index a + a
		float right
		font-weight bold

.content
	background #fff
	box-shadow 0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
	border-radius 3px
	padding  1em 2em
	margin 1em 0

	span, ul li
		line-height 24px 


			 
#main
	margin-bottom 10px 
	padding-top 60px
	.column
		display inline-block
		vertical-align top
	.column-1
		margin-right 20px
	.login
		margin-top 50px

	.pagination-container
		margin 0 auto
		text-align center
		ul 
			margin 0
			padding 0 
			display inline-block
			border-radius 4px
			box-shadow 0 1px 2px rgba(0, 0, 0, 0.05)
		ul > li
			display inline
			line-height 20px
		ul > li:first-child > a, ul > li:first-child > span 
			border-left-width 1px
			border-top-left-radius 4px
			border-bottom-left-radius 4px

		ul>.disabled>span,  ul>.disabled>a,  ul>.disabled>a:hover, .pagination ul>.disabled>a:focus 
			color #999999
			background-color transparent
			cursor default
		ul>.active>a, ul>.active>span 
			z-index 2
			color #ffffff
			background-color $naranja
			border-color $naranja
			cursor default
		ul>li>a:hover,  ul>li>a:focus
			background-color #eeeeee
		ul>li>a, ul>li>span 
			float left
			padding 4px 12px
			line-height 20px
			text-decoration none
			background-color #ffffff
			border 1px solid #dddddd
			border-left-width 0
			color #2a6496
	
	#link-testimonial
		width 148px
		margin-top 50px
		display block

	
	#message
		text-align center
		margin-top 20px
		ul li 
		text-align left

		span,div
			border-radius 5px
			padding 0.5em
			//width 90%
			margin 1em
	.alert
		border-radius 5px
		padding 0.5em
		width 85%
	.alert-success
		background #dff0d8
		border 1px solid #d6e9c6
	.alert-error
		background #f2dede
		border 1px solid #eed3d7

	.opinion
		.comments
			//border: solid 1px #BFBFBF;
			margin 10px 10px 10px 50px
			padding 5px 41px 5px 41px
			background-color #FFF
			background-image url('../img/PostQuote.png')
			background-position left top
			background-repeat no-repeat
			line-height 24px

		.date, .author
			font-style italic
		hr 
			background #9E9E9E
			border 0
			color #9E9E9E
			height 1px
			margin 30px 0
	
	#formulario-tesimonial
		display none
		padding 1em
	#formulario-contact
		padding 1em
	#formulario-tesimonial, #formulario-contact
		input[type="text"],input[type="email"]
			width 95%
			height 50px
			font-size 2em
		textarea
			width 95%
			height 150px
			font-size 2em
		input[type="submit"] 
			width 70px
			background #000
			color #fff
			height 44px
		a 
			background #f5f5f5
			color #000
			display inline-block 
			text-decoration none
			padding .8em
			background-image linear-gradient(to bottom, #ffffff, #e6e6e6)
			background-repeat repeat-x
			
			border-color #e6e6e6 #e6e6e6 #bfbfbf
			border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
			
			border 1px solid #cccccc
			border-bottom-color #b3b3b3
			
			box-shadow inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)
			font-size 14px
		.buttons
			margin 10px auto
			text-align center
			


	

	#main-site
		float left;
		width 960px
		padding: 10px;
		position relative

		#top
			
			border-bottom 1px solid $gris
			.pregunta
				color White
				//width 320px
				margin 20px auto 
				text-align center
				text-shadow  1px 2px rgba(0,0,0,.4)

			#comprar, #rentar
				display inline-block
				vertical-align top
				border-radius 50%
				text-decoration none
				margin 30px 100px
				height 277px
				width 277px
				background rgba(255,255,255,0.5);
				box-shadow  rgba(0,0,0,.5) 5px 5px 10px 3px
				

				h2
					color #FFF
					font-size 36px;
					font-weight bold
					text-transform uppercase
					margin 0px auto
					text-align center
					box-shadow  rgba(0,0,0,.5) 2px 3px 5px 0px
					
				img 
					transition width 0.5s  
					width 80%
			#comprar 
				h2
					background $celeste
				&:hover
					//background #1e1e1e
					img 
						width 105%

					/*h2 
						color #000*/
			#rentar 
				h2
					background $naranja

				&:hover
					img 
						width 105%

					/*h2 
						color #000	*/

			
		
		#middle
			padding-bottom 20px
			border-bottom 1px solid $gris
			text-align center

			#destacadas, #proyectos
				display inline-block
				vertical-align top
				margin 0 100px
				text-align left
				
				.featured-list
					display inline-block
					vertical-align top 
					margin 1em 2em


				h3
					font-size 18px
					color white
					text-shadow  1px 1px rgba(0,0,0,.4)
					background $celeste2
					padding .2em
					//color #45494d
				ul
					margin 0
					padding 0 
					li
						list-style none
						
						a
							color white//color #45494d
							text-decoration none
							text-shadow  1px 1px rgba(0,0,0,.4)

						a:hover span
							text-decoration underline
				span
					display inline-block
					vertical-align top
				
				.nombre
					margin-top 30px;
				.img_p 
					margin-right 5px
					img
						border-radius 50%
						width 80px
						height 80px
						border 2px solid white
						box-shadow  rgba(0,0,0,.5) 2px 3px 5px 0px

					
		#bottom
			clear both
			.opinion
				font-size 14px
				p 
					font-size 14px
					color #45494d
				.date, .author
					text-align right
					margin-right 15px


	#buscador
		//display none
		float left
		width 960px
		padding 10px
		//margin-top 50px

		.leyenda-buscador
			color #fff
			text-shadow  1px 1px 1px rgba(0,0,0,.9)
			background $celeste2
			padding .2em 
			&> span
				font-size 16px 
				font-weight bold

		#opciones
			margin 20px auto
			text-align center
		#filtros
			background #FFF
			padding 0.3em 0.5em
			color #45494d
			text-decoration none
			font-weight bold
			//margin 0 auto
			//width 56px
			//display block
			border-bottom 1px solid $gris
			
			.icon-play
				color $gris
				display inline-block


		#filtros:hover
			background $naranja
			color #FFF

			.icon-play
				color #fff
				transform rotate(90deg)
				

		

		#basic
			margin-top 45px
			.lupa, input[type="text"],input[type="button"],input[type="submit"]
				display inline-block
				vertical-align top
				margin 0
				border 0
			.lupa
				background #FFF
				color $gris
				margin-right -4px
				font-size 32px
				padding 10px

			input[type="text"]
				width 80%
				height 50px
				margin-right -4px
				font-size 2em
				
			input[type="button"],input[type="submit"]
				width 14%
				background $celeste
				color #FFF
				height 52px
		
		
				

		#advanced
			//display none
			

			h3
				color #FFF
				text-shadow  1px 1px rgba(0,0,0,.4)
				font-size 1.2em
				margin-top 45px
				background $celeste2
				padding .2em
				box-shadow 1px 1px 1px rgba(0,0,0,.4)

			input[type="text"]
				width 395px
				height 50px
				margin-right -4px
				font-size 2em
				margin 0
				border 0

			.styled-select-precios
				width: 195px;
				height: 50px;
				overflow: hidden;
				background: url(../img/arrowDown.png) no-repeat 155px 10px #FFF;
				display: inline-block;
				margin-right: 0px

				select
					background: transparent;
					width: 205px;
					padding: 5px 10px;
					font-size: 1.5em;
					font-weight: bold;
					line-height: 1;
					border: 0;
					height: 50px;
					-webkit-appearance: none;
					color: #45494d;

			.styled-select-tipopropiedad
				width: 395px
				height: 50px;
				overflow: hidden;
				background: url(../img/arrowDown.png) no-repeat 355px 10px #FFF;
				display: inline-block;
				margin-right: 0px

				select
					background: transparent;
					width: 405px;
					padding: 5px 10px;
					font-size: 1.5em;
					font-weight: bold;
					line-height: 1;
					border: 0;
					height: 50px;
					-webkit-appearance: none;
					color: #45494d

	.item
		width 356px
		height 356px
		list-style-type none
		margin 15px 20px 0
		background-color white
		display inline-block
		text-align left
		box-shadow 0 5px 6px 1px #888
		overflow hidden
		
			
		.item-imagen
			img 
				width 100%
				//height 100%	

		.item-description
			width 241px
			height 72px
			float left
			padding 6px 10px
			//transition all 0.5s ease
			
			

			a
				text-decoration none

				.code
					color #908f8f;
					font-size 16px
				h3
					font-size 14px
					margin 0
					color #000
				p 
					margin 0
					color #908f8f
					font-size 12px

				


		.item-action
			width: 95px;
			height: 84px;
			position: relative;
			background-color: black;
			float: right;
			color #FFF

			.price
				display block
				height 52px
				.dolar
					font-size 18px
					font-weight bold
					padding-left 2px
				.colon
					font-size 14px
					font-weight bold
					padding-left 5px

			.icon-facebook, .icon-twitter, .icon-heart, .icon-heart2
				display inline-block
				width 18px
				height 24px
				color #FFF
				left 32px
				bottom 0
				text-decoration none
				padding 6px 7px 2px
				margin-right -4px
				font-size 18px

			.icon-facebook
				background $azul

			.icon-heart
				background red


			.icon-twitter
				background $celeste

			.icon-heart
				background red
				//border 2px solid red
			.icon-heart2
				background #FFF
				color red
				//border 2px solid red
			.heart-gray 
				background gray


	.item-details, .side-panel
		box-shadow 0 5px 6px 0px #CCC
		display inline-block
		background #FFF
		margin-top 50px
		vertical-align top

	.item-details
		width 600px
		position relative
		margin-right 20px

		.item-title
			padding 10px
			overflow hidden
			.title 
				float left

			.code
				color $gris

			h1 
				margin 0

			.servicios-adicionales
				float right
				font-size 2em
				padding .3em
				
				a 
					text-decoration none
					color $gris
				
				a:hover .icon-paint-format
					color red
				a:hover .icon-hammer
					color $azul
				a:hover .icon-remove
					color $celeste2

		.item-main-imagen
			position relative

			img 
				width 100%
				height 100%

			a
				display block
				float left
				position absolute
				bottom 20px
				left 10px
			ul
				margin 0
				padding 0
				float left
				display none
				li 
					list-style none


		.item-main-description
			padding 10px
			line-height 24px
		

	.side-panel
		width 300px
		
		h2
			margin 0 0 10px
			color #45494d
			font-size 18px

		.precios, .redes, .ubicacion,.favoritos,.form-solicitud
			padding 10px
			border-bottom 1px solid $gris

		.precios 
			background #000
			margin-bottom 10px
	
			h2, h3
				margin 0
				color #FFF
			h2
				font-size 28px
		.redes

			.icon-facebook, .icon-twitter, .icon-envelop, .icon-heart, .icon-print, .icon-googleplus
				display inline-block
				width 18px
				height 18px
				color #FFF
				left 32px
				bottom 0
				text-decoration none
				padding 10px  
				margin-right -4px
				font-size 18px
				margin 10px

			.icon-facebook
				background $azul

			.icon-twitter
				background $celeste
			

			.icon-envelop, .icon-print
				background $naranja
			.icon-print
				display none

		.favoritos
			.btn_favorites
				
				
			.icon-heart, .icon-heart2
				display inline-block
				width 18px
				height 18px
				color #FFF
				left 32px
				bottom 0
				text-decoration none
				padding 10px  
				margin-right -4px
				font-size 18px
				margin 10px
			#message-favorites
				display inline-block
				width 200px 
				font-size 12px
				

				span
					border-radius 5px
					padding 0.5em
					width 85%
				.ok
					background #dff0d8
					border 1px solid #d6e9c6
				.error
					background #f2dede
					border 1px solid #eed3d7

			.icon-heart
				background red
				border 2px solid red
			.icon-heart2
				background #FFF
				color red
				border 2px solid red

			.heart-gray 
				background gray
				border 2px solid gray

		.form-solicitud
			
			input[type="button"],input[type="submit"]
				width 30%
				background #000
				color #FFF
				height 30px
				border 0
				margin-top 10px

			input[type="text"],input[type="email"], textarea
				width 80%
				font-size 1em
				border 1px solid #ccc
				
			.mensaje
				width 150px
				font-size 11px
				display inline-block
				margin-left 10px

				span
					border-radius 5px
					padding 0.5em
					width 85%
				.ok
					background #dff0d8
					border 1px solid #d6e9c6
				.error
					background #f2dede
					border 1px solid #eed3d7
	
	
	.right-panel-properties
		
		width 190px	
		
		position fixed
		top 50px
		bottom 0
		right -150px
		padding-left 1em
		transition-duration 0.5s
		transition-property right
		overflow hidden

		.show-properties-related
			
			position relative
			right 36px
			top 347px
			z-index 2
			height 32px
			width 90px
			float left
			text-align center
			
			span 
				display block
				background $celeste
				color #fff
				padding .5em
				font-size 16px
				transform rotate(270deg)


		.panel-scroll
			background #FFF
			box-shadow 0 5px 6px 0px #CCC
			position absolute
			overflow-y scroll
			width 160px
			height 100%
			margin 1em 2em
			padding 1em
		
			.right-panel-item
				display block
				overflow hidden
				margin-bottom 20px

				a 
					text-decoration none
					color $naranja
				a:hover
					text-decoration underline

				.right-panel-item-imagen
					width 140px
					height 100px

					img 
						width 100%
						height 100%
				.right-panel-item-details
					font-size 12px


					span
						display block
			

	.right-panel-properties:hover
		right 0

		
.sellOrRent
	position absolute 
	top 0
	right 0
	padding 1em 
	background $celeste2
	color #000
	top: 45%;
	right: 35px;
	box-shadow 2px 2px 3px rgba(0, 0, 0, .75)


			    
		
		
footer
	position relative
	margin-top -84px
	clear both

	#gray_block
		background $celeste2
		font-size 14px
		height 30px
		margin 0

		#menu_footer 
			

			ul li
				display inline-block
				vertical-align top
				padding-right 2.5em

				a
					color #000
					text-decoration none
					display: block;
					padding: .38em .4em;

				a:hover
					background $naranja
					color white

	#copyright
		background #000
		box-shadow 0 -5px 5px rgba(0,0,0,0.3);
		font-size 18px
		height 40px
		margin 0

		#info, #redes, #idiomas, .copy 
			display inline-block
			vertical-align top

		#info
			color #fff
			padding-top 5px
			
			a
				color #fff
				text-decoration none

		#redes
			
			padding-top 10px
			ul 
				margin 0
				li 
					display inline-block
					padding-right 0.5em
					vertical-align top

			
					a
						text-decoration none
						color $celeste2
				
						.icon-facebook, .icon-twitter, .icon-googleplus
							color #000
							font-size 1em
							background $celeste2
							padding .3em
							border-radius 50%
					

					#youtube
						color $celeste2
						font-size 1.5em
						text-decoration none
						display block
						margin-top -7px
		.copy 
			text-decoration none
			color #FFF 
			font-size 12px
			margin-top 10px
			margin-left 20px

		#idiomas
			border-left 1px solid rgba(256,256,256,0.1)
			float right
			padding-bottom 6px
			padding-left 8px
			padding-top 5px

			label
				width 75px
				overflow hidden
				background  $celeste
				display inline-block
				vertical-align top
				
				
				select
					background $celeste
					border none
					color #000
					cursor pointer
					display inline-block
					font-family 'Open Sans', sans-serif
					width 130px
					-webkit-appearance none
					appearance none
					font-size 0.8em

			.icon-play
				color #FFF
				transform rotate(90deg)
				display inline-block
				font-size 14px
				vertical-align middle


@import "responsive.styl"
					

				