
		
@import "iconosBackend.styl"
@import "jquery.tagsinput.styl"

$gris = #d9d9d9
$naranja = #ff5d00
$celeste = #00bef1
$azul = #39579a


html, body
	background url("../img/bgr_pattern.jpg")
	font-family 'Open Sans', sans-serif
	font-size 14px
	height: 100%

*:focus 
	outline none
   
.inner
	margin 0 auto
	width 960px
	
.wrap
	height auto
	min-height 100%

table 
	form
		//margin 0 6px
		float left
		margin-right -2px
table
	.btn
		margin-right 4px

header
	background #000000
	border-bottom 3px solid $gris
	height 60px

	#logo, #login, #menu_backend
		display inline-block
		vertical-align top
	
	#logo
		//background url('../img/bg_logo.png') no-repeat top center;
		height 103px
		width 287px
		position relative
		top 5px
		
		
		

		a
			display block
			margin 0 0 0 90px
		span
			display none

		img 
			width 100%
	
	

	#login 
		float right
		padding-top 20px
		margin-right 30px
		a
			color #FFF
			text-decoration none

			span
				padding-right 5px

		a:hover
			color $gris
	#btn_nav
		display none
	#menu_backend
		margin-top 10px
		ul
			padding 0 
			li 
				display inline-block
				vertical-align top
				margin-right 1em

				a 
					text-decoration none
					color #fff
				a:hover
					color $gris

.login-index
	position absolute
	top 50%
	left 50%
	width 280px
	margin-top  -140px
	margin-left -140px
	background #fff
	-moz-box-shadow 0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
	-webkit-box-shadow 0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
	box-shadow 0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
	border-radius 3px

	.form-actions
		background none
		border 0
	.control-group,.form-actions
		position relative
		padding 1px
		width 210px
		margin 0 auto 10px

	input[type="text"],input[type="password"],input[type="email"]
		border-radius 3px
		border 1px solid #c3c3c3
		padding 0.6em 0.9em
		width 186px
		display block
		font-size 13px
		//height 54px
		/*-webkit-box-shadow  0 0 1px #e1e1e1, inset 0 1px 1px rgba(0,0,0,.5)
		-moz-box-shadow  0 0 1px #e1e1e1, inset 0 1px 1px rgba(0,0,0,.5)
		box-shadow  0 0 1px #e1e1e1, inset 0 1px 1px rgba(0,0,0,.5)*/
	input[type="button"],input[type="submit"]
		background #000
		color #FFF
		padding .6em
		font-size 1em
		margin 0
		border 0


	.alert 
		width auto
		margin 1em
	.links-index
		font-size 11px
		margin 1em 2.5em
		a 
			text-decoration none
			color #000
		a:hover
			text-decoration underline
	.links-index a + a
		float right
		font-weight bold

			 
#main 
	padding 20px

	#message
		text-align center
		margin-top 20px

	
	.login
		margin-top 50px

	.actions
		overflow: hidden;

	
		.title
			float left
			width 50%

		.filtros
			float right
			
			.form-group

				.controls
					display inline-block
					vertical-align top
	.panel
		display inline-block
		vertical-align top

		.column
			display inline-block
			vertical-align top
			width 45%

			input[type="text"],textarea
				width 80%
				//height 50px
				margin-right -4px
				//font-size 2em
			textarea
				height 100px
			select
				width 84%

	.panel_main
		width 50%
	.panel_right
		width 30%
		float right
	.main_image
		img
			border 5px  solid #FFF
		.controls
			display inline-block
	legend
		width auto
		margin-bottom 0
	#container-gallery
		//width 510px

		#gallery
			margin 0
			padding 0
			li 
				display inline-block
				vertical-align top
				border 5px  solid #FFF
				margin 5px

				.delete
					cursor pointer
					position absolute

	.pagination-container
		text-align center
	.pagination
		margin 0 auto
		text-align center

		ul
			padding 0
			    
		
		
footer
	position relative
	margin-top -86px
	clear both

	#gray_block
		background $gris
		font-size 14px
		height 30px
		margin 0

		

	#copyright
		background $naranja
		box-shadow 0 -5px 5px rgba(0,0,0,0.3);
		font-size 18px
		height 40px
		margin 0

		


@import "responsive.styl"
					

				