@font-face{font-family:'rentame';src:url("../fonts/rentame.eot");src:url("../fonts/rentame.eot?#iefix") format('embedded-opentype'),url("../fonts/rentame.woff") format('woff'),url("../fonts/rentame.ttf") format('truetype'),url("../fonts/rentame.svg#rentame") format('svg');font-weight:normal;font-style:normal}
[class^="icon-"],[class*=" icon-"]{font-family:'rentame';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-key:before{content:"\e600"}
.icon-youtube:before{content:"\e601"}
.icon-twitter:before{content:"\e602"}
.icon-facebook:before{content:"\e603"}
.icon-mail:before{content:"\e604"}
.icon-heart:before{content:"\e605"}
.icon-heart2:before{content:"\e606"}
.icon-remove:before{content:"\e607"}
.icon-hammer:before{content:"\e608"}
.icon-paint-format:before{content:"\e609"}
.icon-play:before{content:"\e60a"}
.icon-search:before{content:"\e60b"}
.icon-print:before{content:"\e60c"}
html,body{background:url("../img/bgr_pattern.jpg");font-family:'Open Sans',sans-serif;font-size:14px;height:100%}
p{line-height:24px}
*:focus{outline:none}
.inner{margin:0 auto;width:960px}
.wrap{min-height:100%;position:relative}
table form{margin:0 6px}
table .btn{margin-right:4px}
.error{color:#ff5d00}
.btn{color:#fff;display:block;text-decoration:none;padding:.5em;text-shadow:0 -1px 0 rgba(0,0,0,0.25);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)}
.btn-naranja{background-color:#ff5d00;border-color:#51a351 #51a351 #387038}
.btn-celeste{background-color:#f00;border-color:#51a351 #51a351 #387038}
.naranja{background-color:#ff5d00}
input[type="text"],input[type="button"],input[type="submit"],input[type="password"],input[type="email"],textarea{display:inline-block;vertical-align:top;margin:0;border:0}
input[type="button"],input[type="submit"]{background:#000;color:#fff;padding:.6em;font-size:1em}
.fullscreen-slideshow{list-style:none;width:100%;max-width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;padding:0;margin:0;}
.fullscreen-slideshow li{position:absolute;width:101%;height:101%;top:-.5%;left:-.5%;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);}
.fullscreen-slideshow li img{display:block;width:100%}
.backgroundsize .fullscreen-slideshow li{-webkit-background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-position:center center}
.backgroundsize .fullscreen-slideshow li img{display:none}
.no-js.no-backgroundsize .fullscreen-slideshow li:first-child{opacity:1;-ms-filter:none;filter:none}
.no-js.backgroundsize .fullscreen-slideshow li:first-child img{display:block}
header{background-image:-webkit-linear-gradient(top, #000 0%, #45494d 100%);background-image:-moz-linear-gradient(top, #000 0%, #45494d 100%);background-image:-o-linear-gradient(top, #000 0%, #45494d 100%);background-image:-ms-linear-gradient(top, #000 0%, #45494d 100%);background-image:linear-gradient(to bottom, #000 0%, #45494d 100%);border-bottom:3px solid #f00;height:60px;width:100%;position:fixed;z-index:2;top:0;left:0;}
header #buscador-mini{margin-top:10px;}
header #buscador-mini .link-search .icon-search{padding-right:5px}
header #buscador-mini,header #login{float:left;position:relative;margin-left:20px;}
header #buscador-mini #container-login,header #login #container-login{right:0;}
header #buscador-mini #container-login a,header #login #container-login a{color:#000;text-decoration:underline}
header #buscador-mini #container-login a:hover,header #login #container-login a:hover{color:#ff5d00}
header #buscador-mini #container-search,header #login #container-search,header #buscador-mini #container-login,header #login #container-login{background:url("../img/bgr_pattern.jpg");width:200px;padding:24px;-webkit-border-radius:6px;border-radius:6px;position:absolute;display:none;border:1px solid #e3e3e3;z-index:2;-webkit-box-shadow:0 5px 6px 1px rgba(0,0,0,0.5);box-shadow:0 5px 6px 1px rgba(0,0,0,0.5);}
header #buscador-mini #container-search .buttons,header #login #container-search .buttons,header #buscador-mini #container-login .buttons,header #login #container-login .buttons{margin:20px auto;text-align:center;}
header #buscador-mini #container-search .buttons a,header #login #container-search .buttons a,header #buscador-mini #container-login .buttons a,header #login #container-login .buttons a{background:#f5f5f5;color:#000;display:inline-block;text-decoration:none;padding:.4em;background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);background-image:-moz-linear-gradient(top, #fff, #e6e6e6);background-image:-o-linear-gradient(top, #fff, #e6e6e6);background-image:-ms-linear-gradient(top, #fff, #e6e6e6);background-image:linear-gradient(to bottom, #fff, #e6e6e6);background-repeat:repeat-x;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);border:1px solid #ccc;border-bottom-color:#b3b3b3;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);font-size:14px}
header #buscador-mini #container-search .lupa,header #login #container-search .lupa,header #buscador-mini #container-login .lupa,header #login #container-login .lupa{display:inline-block;vertical-align:top;margin:0;border:0}
header #buscador-mini #container-search .lupa,header #login #container-search .lupa,header #buscador-mini #container-login .lupa,header #login #container-login .lupa{background:#fff;color:#d9d9d9;margin-right:-4px;padding:.4em}
header #buscador-mini #container-search fieldset,header #login #container-search fieldset,header #buscador-mini #container-login fieldset,header #login #container-login fieldset{margin:0 auto;text-align:center;background:#fff;border:0}
header #buscador-mini #container-search input[type="radio"] + label,header #login #container-search input[type="radio"] + label,header #buscador-mini #container-login input[type="radio"] + label,header #login #container-login input[type="radio"] + label{margin-right:20px}
header #buscador-mini #container-search label,header #login #container-search label,header #buscador-mini #container-login label,header #login #container-login label{color:#45494d;font-size:14px;font-weight:bold}
header #buscador-mini #container-search h3,header #login #container-search h3,header #buscador-mini #container-login h3,header #login #container-login h3,header #buscador-mini #container-search label,header #login #container-search label,header #buscador-mini #container-login label,header #login #container-login label{color:#45494d;font-size:12px}
header #buscador-mini #container-search input[type="text"],header #login #container-search input[type="text"],header #buscador-mini #container-login input[type="text"],header #login #container-login input[type="text"],header #buscador-mini #container-search input[type="password"],header #login #container-search input[type="password"],header #buscador-mini #container-login input[type="password"],header #login #container-login input[type="password"],header #buscador-mini #container-search input[type="email"],header #login #container-search input[type="email"],header #buscador-mini #container-login input[type="email"],header #login #container-login input[type="email"]{width:170px;height:24px;margin-right:-4px;margin:0;border:0}
header #buscador-mini #container-search input[name="code"],header #login #container-search input[name="code"],header #buscador-mini #container-login input[name="code"],header #login #container-login input[name="code"]{width:120px}
header #buscador-mini #container-search .arrow-select,header #login #container-search .arrow-select,header #buscador-mini #container-login .arrow-select,header #login #container-login .arrow-select{background:url("../img/spriteFlecha.png") no-repeat -25px 4px #fff;display:block;width:30px;height:24px;position:absolute;right:0}
header #buscador-mini #container-search .styled-select-precios,header #login #container-search .styled-select-precios,header #buscador-mini #container-login .styled-select-precios,header #login #container-login .styled-select-precios{width:85px;height:24px;overflow:hidden;background:#fff;display:inline-block;margin-right:10px;position:relative;}
header #buscador-mini #container-search .styled-select-precios select,header #login #container-search .styled-select-precios select,header #buscador-mini #container-login .styled-select-precios select,header #login #container-login .styled-select-precios select{background:transparent;width:85px;padding:5px 10px;font-size:12px;font-weight:bold;line-height:1;border:0;height:24px;-webkit-appearance:none;color:#45494d;position:relative;z-index:2}
header #buscador-mini #container-search .styled-select-tipopropiedad,header #login #container-search .styled-select-tipopropiedad,header #buscador-mini #container-login .styled-select-tipopropiedad,header #login #container-login .styled-select-tipopropiedad{width:195px;height:24px;overflow:hidden;background:url("../img/spriteFlecha.png") no-repeat 335px 10px #fff;display:inline-block;margin-right:20px;position:relative;}
header #buscador-mini #container-search .styled-select-tipopropiedad select,header #login #container-search .styled-select-tipopropiedad select,header #buscador-mini #container-login .styled-select-tipopropiedad select,header #login #container-login .styled-select-tipopropiedad select{background:transparent;width:180px;padding:5px 10px;font-size:12px;font-weight:bold;line-height:1;border:0;height:24px;-webkit-appearance:none;color:#45494d;position:relative;z-index:2}
header #logo,header #login,header #menu{display:inline-block;vertical-align:top}
header #logo{height:20px;width:240px;position:relative;top:-10px;}
header #logo a{display:block;padding:0 0 0 10px}
header #logo span{display:none}
header #login{float:right;padding-top:20px;padding-right:10px;}
header #login a{color:#fff;text-decoration:none;}
header #login a span{padding-right:5px}
header #login a:hover{color:#d9d9d9}
header #menu ul{padding:0;}
header #menu ul li{display:inline-block;vertical-align:top;margin-right:1em;}
header #menu ul li a{text-decoration:none;color:#fff}
header #menu ul li a:hover{color:#d9d9d9}
.login-index{position:absolute;top:50%;left:50%;width:280px;margin-top:-140px;margin-left:-140px;background:#fff;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05);box-shadow:0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05);-webkit-border-radius:3px;border-radius:3px;}
.login-index .control-group,.login-index .form-actions{position:relative;padding:1px;width:210px;margin:0 auto 20px}
.login-index input[type="text"],.login-index input[type="password"],.login-index input[type="email"]{-webkit-border-radius:3px;border-radius:3px;border:1px solid #c3c3c3;padding:.7em .9em;width:186px;display:block;font-size:13px;}
.login-index label{margin-bottom:5px;display:block}
.login-index .alert{width:auto;margin:1em}
.login-index .links-index{font-size:11px;margin:1em 2.5em;}
.login-index .links-index a{text-decoration:none;color:#000}
.login-index .links-index a:hover{text-decoration:underline}
.login-index .links-index a + a{float:right;font-weight:bold}
.content{background:#fff;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05);box-shadow:0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05);-webkit-border-radius:3px;border-radius:3px;padding:1em 2em;margin:1em 0;}
.content span,.content ul li{line-height:24px}
#main{margin-bottom:10px;padding-top:60px;}
#main .column{display:inline-block;vertical-align:top}
#main .column-1{margin-right:20px}
#main .login{margin-top:50px}
#main .pagination-container{margin:0 auto;text-align:center;}
#main .pagination-container ul{margin:0;padding:0;display:inline-block;-webkit-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);box-shadow:0 1px 2px rgba(0,0,0,0.05)}
#main .pagination-container ul > li{display:inline;line-height:20px}
#main .pagination-container ul > li:first-child > a,#main .pagination-container ul > li:first-child > span{border-left-width:1px;border-top-left-radius:4px;border-bottom-left-radius:4px}
#main .pagination-container ul>.disabled>span,#main .pagination-container ul>.disabled>a,#main .pagination-container ul>.disabled>a:hover,#main .pagination-container .pagination ul>.disabled>a:focus{color:#999;background-color:transparent;cursor:default}
#main .pagination-container ul>.active>a,#main .pagination-container ul>.active>span{z-index:2;color:#fff;background-color:#ff5d00;border-color:#ff5d00;cursor:default}
#main .pagination-container ul>li>a:hover,#main .pagination-container ul>li>a:focus{background-color:#eee}
#main .pagination-container ul>li>a,#main .pagination-container ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#fff;border:1px solid #ddd;border-left-width:0;color:#2a6496}
#main #link-testimonial{width:148px;margin-top:50px;display:block}
#main #message{text-align:center;margin-top:20px;ul:li;text-align:left;}
#main #message span,#main #message div{-webkit-border-radius:5px;border-radius:5px;padding:.5em;margin:1em}
#main .alert{-webkit-border-radius:5px;border-radius:5px;padding:.5em;width:85%}
#main .alert-success{background:#dff0d8;border:1px solid #d6e9c6}
#main .alert-error{background:#f2dede;border:1px solid #eed3d7}
#main .opinion .comments{margin:10px 10px 10px 50px;padding:5px 41px 5px 41px;background-color:#fff;background-image:url("../img/PostQuote.png");background-position:left top;background-repeat:no-repeat;line-height:24px}
#main .opinion .date,#main .opinion .author{font-style:italic}
#main .opinion hr{background:#9e9e9e;border:0;color:#9e9e9e;height:1px;margin:30px 0}
#main #formulario-tesimonial{display:none;padding:1em}
#main #formulario-contact{padding:1em}
#main #formulario-tesimonial input[type="text"],#main #formulario-contact input[type="text"],#main #formulario-tesimonial input[type="email"],#main #formulario-contact input[type="email"]{width:95%;height:50px;font-size:2em}
#main #formulario-tesimonial textarea,#main #formulario-contact textarea{width:95%;height:150px;font-size:2em}
#main #formulario-tesimonial input[type="submit"],#main #formulario-contact input[type="submit"]{width:70px;background:#000;color:#fff;height:44px}
#main #formulario-tesimonial a,#main #formulario-contact a{background:#f5f5f5;color:#000;display:inline-block;text-decoration:none;padding:.8em;background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);background-image:-moz-linear-gradient(top, #fff, #e6e6e6);background-image:-o-linear-gradient(top, #fff, #e6e6e6);background-image:-ms-linear-gradient(top, #fff, #e6e6e6);background-image:linear-gradient(to bottom, #fff, #e6e6e6);background-repeat:repeat-x;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);border:1px solid #ccc;border-bottom-color:#b3b3b3;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);font-size:14px}
#main #formulario-tesimonial .buttons,#main #formulario-contact .buttons{margin:10px auto;text-align:center}
#main #main-site{float:left;width:960px;padding:10px;}
#main #main-site #top{border-bottom:1px solid #d9d9d9;}
#main #main-site #top .pregunta{color:White;margin:20px auto;text-align:center;text-shadow:1px 2px rgba(0,0,0,0.4)}
#main #main-site #top #comprar,#main #main-site #top #rentar{display:inline-block;vertical-align:top;-webkit-border-radius:50%;border-radius:50%;text-decoration:none;margin:30px 100px;height:277px;width:277px;background:rgba(255,255,255,0.5);-webkit-box-shadow:rgba(0,0,0,0.5) 5px 5px 10px 3px;box-shadow:rgba(0,0,0,0.5) 5px 5px 10px 3px;}
#main #main-site #top #comprar h2,#main #main-site #top #rentar h2{color:#fff;font-size:36px;font-weight:bold;text-transform:uppercase;margin:0 auto;text-align:center;-webkit-box-shadow:rgba(0,0,0,0.5) 2px 3px 5px 0;box-shadow:rgba(0,0,0,0.5) 2px 3px 5px 0}
#main #main-site #top #comprar img,#main #main-site #top #rentar img{-webkit-transition:width 0.5s;-moz-transition:width 0.5s;-o-transition:width 0.5s;-ms-transition:width 0.5s;transition:width 0.5s;width:80%}
#main #main-site #top #comprar h2{background:#f00}
#main #main-site #top #comprar:hover img{width:105%}
#main #main-site #top #rentar h2{background:#ff5d00}
#main #main-site #top #rentar:hover img{width:105%}
#main #main-site #middle{padding-bottom:20px;border-bottom:1px solid #d9d9d9;text-align:center;}
#main #main-site #middle #destacadas,#main #main-site #middle #proyectos{display:inline-block;vertical-align:top;margin:0 100px;text-align:left;}
#main #main-site #middle #destacadas h3,#main #main-site #middle #proyectos h3{font-size:18px;color:#fff;text-shadow:1px 1px rgba(0,0,0,0.4)}
#main #main-site #middle #destacadas ul,#main #main-site #middle #proyectos ul{margin:0;padding:0;}
#main #main-site #middle #destacadas ul li,#main #main-site #middle #proyectos ul li{list-style:none;}
#main #main-site #middle #destacadas ul li a,#main #main-site #middle #proyectos ul li a{color:#fff;text-decoration:none;text-shadow:1px 1px rgba(0,0,0,0.4)}
#main #main-site #middle #destacadas ul li a:hover span,#main #main-site #middle #proyectos ul li a:hover span{text-decoration:underline}
#main #main-site #middle #destacadas span,#main #main-site #middle #proyectos span{display:inline-block;vertical-align:top}
#main #main-site #middle #destacadas .nombre,#main #main-site #middle #proyectos .nombre{margin-top:30px}
#main #main-site #middle #destacadas .img_p,#main #main-site #middle #proyectos .img_p{margin-right:5px;}
#main #main-site #middle #destacadas .img_p img,#main #main-site #middle #proyectos .img_p img{-webkit-border-radius:50%;border-radius:50%;width:80px;height:80px;border:2px solid #fff;-webkit-box-shadow:rgba(0,0,0,0.5) 2px 3px 5px 0;box-shadow:rgba(0,0,0,0.5) 2px 3px 5px 0}
#main #main-site #bottom .opinion{font-size:14px;}
#main #main-site #bottom .opinion p{font-size:14px;color:#45494d}
#main #main-site #bottom .opinion .date,#main #main-site #bottom .opinion .author{text-align:right;margin-right:15px}
#main #buscador{float:left;width:960px;padding:10px;margin-top:50px;}
#main #buscador .leyenda-buscador> span{font-size:16px;font-weight:bold}
#main #buscador #opciones{margin:20px auto;text-align:center}
#main #buscador #filtros{background:#fff;padding:.3em .5em;color:#45494d;text-decoration:none;font-weight:bold;border-bottom:1px solid #d9d9d9;}
#main #buscador #filtros .icon-play{color:#d9d9d9;display:inline-block}
#main #buscador #filtros:hover{background:#ff5d00;color:#fff;}
#main #buscador #filtros:hover .icon-play{color:#fff;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
#main #buscador #basic .lupa,#main #buscador #basic input[type="text"],#main #buscador #basic input[type="button"],#main #buscador #basic input[type="submit"]{display:inline-block;vertical-align:top;margin:0;border:0}
#main #buscador #basic .lupa{background:#fff;color:#d9d9d9;margin-right:-4px;font-size:32px;padding:10px}
#main #buscador #basic input[type="text"]{width:80%;height:50px;margin-right:-4px;font-size:2em}
#main #buscador #basic input[type="button"],#main #buscador #basic input[type="submit"]{width:14%;background:#000;color:#fff;height:52px}
#main #buscador #advanced h3{color:#45494d;font-size:1.2em;margin-top:45px}
#main #buscador #advanced input[type="text"]{width:375px;height:50px;margin-right:-4px;font-size:2em;margin:0;border:0}
#main #buscador #advanced .styled-select-precios{width:175px;height:50px;overflow:hidden;background:url("../img/arrowDown.png") no-repeat 135px 10px #fff;display:inline-block;margin-right:20px;}
#main #buscador #advanced .styled-select-precios select{background:transparent;width:205px;padding:5px 10px;font-size:1.5em;font-weight:bold;line-height:1;border:0;height:50px;-webkit-appearance:none;color:#45494d}
#main #buscador #advanced .styled-select-tipopropiedad{width:375px;height:50px;overflow:hidden;background:url("../img/arrowDown.png") no-repeat 335px 10px #fff;display:inline-block;margin-right:20px;}
#main #buscador #advanced .styled-select-tipopropiedad select{background:transparent;width:405px;padding:5px 10px;font-size:1.5em;font-weight:bold;line-height:1;border:0;height:50px;-webkit-appearance:none;color:#45494d}
#main .item{width:356px;height:356px;list-style-type:none;margin:30px 20px 0;background-color:#fff;display:inline-block;text-align:left;-webkit-box-shadow:0 5px 6px 1px #888;box-shadow:0 5px 6px 1px #888;overflow:hidden;}
#main .item .item-imagen img{width:100%}
#main .item .item-description{width:241px;height:72px;float:left;padding:6px 10px;}
#main .item .item-description a{text-decoration:none;}
#main .item .item-description a .code{color:#908f8f;font-size:16px}
#main .item .item-description a h3{font-size:14px;margin:0;color:#000}
#main .item .item-description a p{margin:0;color:#908f8f;font-size:12px}
#main .item .item-action{width:95px;height:84px;position:relative;background-color:#000;float:right;color:#fff;}
#main .item .item-action .price{display:block;height:52px;}
#main .item .item-action .price .dolar{font-size:18px;font-weight:bold;padding-left:2px}
#main .item .item-action .price .colon{font-size:14px;font-weight:bold;padding-left:5px}
#main .item .item-action .icon-facebook,#main .item .item-action .icon-twitter,#main .item .item-action .icon-heart,#main .item .item-action .icon-heart2{display:inline-block;width:18px;height:24px;color:#fff;left:32px;bottom:0;text-decoration:none;padding:6px 7px 2px;margin-right:-4px;font-size:18px}
#main .item .item-action .icon-facebook{background:#39579a}
#main .item .item-action .icon-heart{background:#f00}
#main .item .item-action .icon-twitter{background:#f00}
#main .item .item-action .icon-heart{background:#f00}
#main .item .item-action .icon-heart2{background:#fff;color:#f00}
#main .item .item-action .heart-gray{background:#808080}
#main .item-details,#main .side-panel{-webkit-box-shadow:0 5px 6px 0 #ccc;box-shadow:0 5px 6px 0 #ccc;display:inline-block;background:#fff;margin-top:50px;vertical-align:top}
#main .item-details{width:600px;position:relative;margin-right:20px;}
#main .item-details .item-title{padding:10px;overflow:hidden;}
#main .item-details .item-title .title{float:left}
#main .item-details .item-title .code{color:#d9d9d9}
#main .item-details .item-title h1{margin:0}
#main .item-details .item-title .servicios-adicionales{float:right;font-size:2em;padding:.3em;}
#main .item-details .item-title .servicios-adicionales a{text-decoration:none;color:#d9d9d9}
#main .item-details .item-title .servicios-adicionales a:hover .icon-paint-format{color:#f00}
#main .item-details .item-title .servicios-adicionales a:hover .icon-hammer{color:#39579a}
#main .item-details .item-title .servicios-adicionales a:hover .icon-remove{color:#f00}
#main .item-details .item-main-imagen{position:relative;}
#main .item-details .item-main-imagen img{width:100%;height:100%}
#main .item-details .item-main-imagen a{display:block;float:left;position:absolute;bottom:20px;left:10px}
#main .item-details .item-main-imagen ul{margin:0;padding:0;float:left;display:none;}
#main .item-details .item-main-imagen ul li{list-style:none}
#main .item-details .item-main-description{padding:10px;line-height:24px}
#main .side-panel{width:300px;}
#main .side-panel h2{margin:0 0 10px;color:#45494d;font-size:18px}
#main .side-panel .precios,#main .side-panel .redes,#main .side-panel .ubicacion,#main .side-panel .favoritos,#main .side-panel .form-solicitud{padding:10px;border-bottom:1px solid #d9d9d9}
#main .side-panel .precios{background:#000;margin-bottom:10px;}
#main .side-panel .precios h2,#main .side-panel .precios h3{margin:0;color:#fff}
#main .side-panel .precios h2{font-size:28px}
#main .side-panel .redes .icon-facebook,#main .side-panel .redes .icon-twitter,#main .side-panel .redes .icon-envelop,#main .side-panel .redes .icon-heart,#main .side-panel .redes .icon-print{display:inline-block;width:18px;height:18px;color:#fff;left:32px;bottom:0;text-decoration:none;padding:10px;margin-right:-4px;font-size:18px;margin:10px}
#main .side-panel .redes .icon-facebook{background:#39579a}
#main .side-panel .redes .icon-twitter{background:#f00}
#main .side-panel .redes .icon-envelop,#main .side-panel .redes .icon-print{background:#ff5d00}
#main .side-panel .redes .icon-print{display:none}
#main .side-panel .favoritos .btn_favorites,#main .side-panel .favoritos .icon-heart,#main .side-panel .favoritos .icon-heart2{display:inline-block;width:18px;height:18px;color:#fff;left:32px;bottom:0;text-decoration:none;padding:10px;margin-right:-4px;font-size:18px;margin:10px}
#main .side-panel .favoritos #message-favorites{display:inline-block;width:200px;font-size:12px;}
#main .side-panel .favoritos #message-favorites span{-webkit-border-radius:5px;border-radius:5px;padding:.5em;width:85%}
#main .side-panel .favoritos #message-favorites .ok{background:#dff0d8;border:1px solid #d6e9c6}
#main .side-panel .favoritos #message-favorites .error{background:#f2dede;border:1px solid #eed3d7}
#main .side-panel .favoritos .icon-heart{background:#f00;border:2px solid #f00}
#main .side-panel .favoritos .icon-heart2{background:#fff;color:#f00;border:2px solid #f00}
#main .side-panel .favoritos .heart-gray{background:#808080;border:2px solid #808080}
#main .side-panel .form-solicitud input[type="button"],#main .side-panel .form-solicitud input[type="submit"]{width:30%;background:#000;color:#fff;height:30px;border:0;margin-top:10px}
#main .side-panel .form-solicitud input[type="text"],#main .side-panel .form-solicitud input[type="email"],#main .side-panel .form-solicitud textarea{width:80%;font-size:1em;border:1px solid #ccc}
#main .side-panel .form-solicitud .mensaje{width:150px;font-size:11px;display:inline-block;margin-left:10px;}
#main .side-panel .form-solicitud .mensaje span{-webkit-border-radius:5px;border-radius:5px;padding:.5em;width:85%}
#main .side-panel .form-solicitud .mensaje .ok{background:#dff0d8;border:1px solid #d6e9c6}
#main .side-panel .form-solicitud .mensaje .error{background:#f2dede;border:1px solid #eed3d7}
#main .right-panel-properties{width:190px;position:fixed;top:50px;bottom:0;right:-150px;padding-left:1em;-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-o-transition-duration:.5s;-ms-transition-duration:.5s;transition-duration:.5s;-webkit-transition-property:right;-moz-transition-property:right;-o-transition-property:right;-ms-transition-property:right;transition-property:right;overflow:hidden;}
#main .right-panel-properties .show-properties-related{position:relative;right:36px;top:347px;z-index:2;height:32px;width:90px;float:left;text-align:center;}
#main .right-panel-properties .show-properties-related span{display:block;background:#ff5d00;color:#fff;padding:.5em;font-size:16px;-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
#main .right-panel-properties .panel-scroll{background:#fff;-webkit-box-shadow:0 5px 6px 0 #ccc;box-shadow:0 5px 6px 0 #ccc;position:absolute;overflow-y:scroll;width:160px;height:100%;margin:1em 2em;padding:1em;}
#main .right-panel-properties .panel-scroll .right-panel-item{display:block;overflow:hidden;margin-bottom:20px;}
#main .right-panel-properties .panel-scroll .right-panel-item a{text-decoration:none;color:#ff5d00}
#main .right-panel-properties .panel-scroll .right-panel-item a:hover{text-decoration:underline}
#main .right-panel-properties .panel-scroll .right-panel-item .right-panel-item-imagen{width:140px;height:100px;}
#main .right-panel-properties .panel-scroll .right-panel-item .right-panel-item-imagen img{width:100%;height:100%}
#main .right-panel-properties .panel-scroll .right-panel-item .right-panel-item-details{font-size:12px;}
#main .right-panel-properties .panel-scroll .right-panel-item .right-panel-item-details span{display:block}
#main .right-panel-properties:hover{right:0}
footer{position:relative;margin-top:-84px;clear:both;}
footer #gray_block{background:#f00;font-size:14px;height:30px;margin:0;}
footer #gray_block #menu_footer ul li{display:inline-block;vertical-align:top;padding-right:2.5em;}
footer #gray_block #menu_footer ul li a{color:#000;text-decoration:none;display:block;padding:.38em .4em}
footer #gray_block #menu_footer ul li a:hover{background:#ff5d00;color:#fff}
footer #copyright{background:#000;-webkit-box-shadow:0 -5px 5px rgba(0,0,0,0.3);box-shadow:0 -5px 5px rgba(0,0,0,0.3);font-size:18px;height:40px;margin:0;}
footer #copyright #info,footer #copyright #redes,footer #copyright #idiomas,footer #copyright .copy{display:inline-block;vertical-align:top}
footer #copyright #info{color:#fff;padding-top:5px;}
footer #copyright #info a{color:#fff;text-decoration:none}
footer #copyright #redes{padding-top:10px;}
footer #copyright #redes ul{margin:0;}
footer #copyright #redes ul li{display:inline-block;padding-right:.5em;vertical-align:top;}
footer #copyright #redes ul li a{text-decoration:none;}
footer #copyright #redes ul li a .icon-facebook,footer #copyright #redes ul li a .icon-twitter{color:#000;font-size:1em;background:#f00;padding:.3em;-webkit-border-radius:50%;border-radius:50%}
footer #copyright #redes ul li #youtube{color:#f00;font-size:1.5em;text-decoration:none;display:block;margin-top:-7px}
footer #copyright .copy{text-decoration:none;color:#fff;font-size:12px;margin-top:10px;margin-left:20px}
footer #copyright #idiomas{border-left:1px solid rgba(255,255,255,0.1);float:right;padding-bottom:6px;padding-left:8px;padding-top:5px;}
footer #copyright #idiomas label{width:75px;overflow:hidden;background:#f00;display:inline-block;vertical-align:top;}
footer #copyright #idiomas label select{background:#f00;border:none;color:#000;cursor:pointer;display:inline-block;font-family:'Open Sans',sans-serif;width:130px;-webkit-appearance:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:.8em}
footer #copyright #idiomas .icon-play{color:#fff;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);display:inline-block;font-size:14px;vertical-align:middle}
@media only screen and (max-width:  1440px){.wrap{padding-bottom:70px}
}@media only screen and (max-width:  960px){#main .panel_main{width:90%}
#main .panel_right{width:auto;float:none}
#main .panel .column{width:45%}
}@media only screen and (max-width:  800px){.inner{width:auto}
header #btn_nav{position:absolute;top:15px;left:25px;padding:7px 10px 8px 30px;background:#ff5d00 url("../img/flecha_menu.png") 10px 50% no-repeat;-webkit-background-size:12px 9px;-moz-background-size:12px 9px;background-size:12px 9px;display:block;cursor:pointer;font:bold 12px Arial,sans-serif;color:#fff}
header #menu_backend{margin-left:0;top:60px;left:0;width:100%;position:absolute;z-index:20;background:#222;display:none;}
header #menu_backend ul{padding:0;}
header #menu_backend ul li{width:100%;float:none;border-bottom:1px solid #666;-webkit-background-size:13px 12px;-moz-background-size:13px 12px;background-size:13px 12px;}
header #menu_backend ul li a,header #menu_backend ul li span{padding:5px 5px 3px 10px;background:none;color:#fff;width:auto;display:inline-block;vertical-align:middle;}
header #menu_backend ul li a span.icon,header #menu_backend ul li span span.icon{display:inline-block;vertical-align:middle;font-size:20px !important}
header #menu_backend ul .active a,header #menu_backend ul .active span{width:auto;color:#ff5d00}
#main .items{padding:0;text-align:center;}
#main .items li{width:256px;height:256px;}
#main .items li .item-description{max-width:140px}
#main .items li .item-imagen img{height:100%}
#main .item-details{margin-left:20px}
#main .side-panel{display:block;width:600px;margin-left:20px;margin-top:20px}
#main #main-site{width:95%;}
#main #main-site #top{text-align:center;}
#main #main-site #top #comprar,#main #main-site #top #rentar{height:177px;width:177px;margin:0 20px;}
#main #main-site #top #comprar h2,#main #main-site #top #rentar h2{font-size:24px;text-align:center;padding:0}
#main #main-site #middle #destacadas,#main #main-site #middle #proyectos{margin:0 50px}
#main #buscador{width:95%;}
#main #buscador #basic{text-align:center;}
#main #buscador #basic input[type="text"]{width:80%}
#main #buscador #basic input[type="button"],#main #buscador #basic input[type="submit"]{margin-top:10px;width:25%}
#main #buscador #advanced input[type="text"]{width:85%}
#main #buscador #advanced .styled-select-precios{width:138px;background-position:95px 10px;}
#main #buscador #advanced .styled-select-precios select{width:180px}
#main #buscador #advanced .styled-select-tipopropiedad{width:300px;background-position:260px 10px;}
#main #buscador #advanced .styled-select-tipopropiedad select{width:350px}
footer #copyright{font-size:14px}
}@media only screen and (max-width:  640px){#fullscreen-slideshow{display:none}
header #menu ul li a{font-size:12px}
header #buscador-mini .link-search .icon-search{padding-right:0}
header #buscador-mini .link-search .text-search{display:none}
header #logo{width:auto;}
header #login{margin-left:10px;}
header #login a{font-size:12px}
#main .right-panel-properties{display:none}
#main .item-details{margin-left:5px;margin-right:5px;width:96%;}
#main .item-details .item-title .title h1{font-size:1.3em}
#main .item-details .item-title .servicios-adicionales{font-size:1.5em}
#main #main-site #top .pregunta{background:#ff5d00}
#main .side-panel{margin-left:5px;width:96%}
#main .panel .column{width:100%}
#main .column-1{margin-right:0}
#main .slider  #main-site #middle,#main .slider #main-site #bottom{display:none}
footer #gray_block #menu_footer ul{padding:0;text-align:center;}
footer #gray_block #menu_footer ul li{padding-right:.3em}
footer #copyright{height:auto;font-size:13px;}
footer #copyright #info,footer #copyright #redes{padding-top:10px}
footer #copyright #info{text-align:center;display:block}
footer #copyright #redes{display:none}
}