@media only screen and (max-width:  1440px)
    .wrap
        padding-bottom 70px

@media only screen and (max-width:  960px)
	#main
		.panel_main 
			width 90%
		.panel_right
			width auto
			float none
		.panel
			
			.column
				width 45%

@media only screen and (max-width:  800px)
	.inner
		width auto
	header
		#btn_nav
				position absolute
				top 15px
				left 25px
				padding 7px 10px 8px 30px
				background $naranja url('../img/flecha_menu.png') 10px 50% no-repeat
				background-size 12px 9px
				display block
				cursor pointer
				font bold 12px Arial,sans-serif
				color #FFF
		#menu_backend 
			margin-left 0
			top 60px
			left 0
			width 100%
			position absolute
			z-index 20
			background #222
			display none

			ul 
				padding 0

				li 
					width 100%
					float none
					border-bottom 1px solid #666
					background-size 13px 12px

					
					a, span 
						padding 5px 5px 3px 10px
						background none
						color #FFF
						width auto
						display inline-block
						vertical-align middle


						span.icon
							display inline-block
							vertical-align middle
							font-size 20px !important
							

				.active a, .active span
					width auto
					color $naranja


	#main
		.items 
			padding 0
			text-align center


			li 
				width 256px
				height 256px
				.item-description
					max-width 140px

				.item-imagen img
					height 100%

		.item-details
			margin-left 20px


		.side-panel
			display block
			width 600px
			margin-left 20px
			margin-top 20px
		 
		#main-site 
			width 95%
			#top 
				text-align center
				
				#comprar , #rentar
					height 177px
					width 177px
					margin 0 20px

					h2
						font-size 24px
						//margin 75px 0
						text-align center
						padding 0
			#middle
				
				#destacadas, #proyectos
					margin 0 50px
			
	
		
		#buscador
			width 95%
			
			#basic
				text-align center
				input[type="text"]
					width 80%
				input[type="button"],input[type="submit"]
					margin-top 10px
					width 25%
			#advanced

				input[type="text"]
					width 85%
				.styled-select-precios
					width: 138px;
					background-position 95px 10px
					select
						width: 180px;
				.styled-select-tipopropiedad
					width 300px
					background-position 260px 10px

					select
						width 350px
	footer 
					
		#copyright
			font-size 14px
			



@media only screen and (max-width:  640px)

	#fullscreen-slideshow
		display none
	header

		#menu ul li a
			font-size 12px

		#buscador-mini
			

			.link-search
				.icon-search 
					padding-right 0
				.text-search
					display none
		#logo
			width auto 
			a 
				//padding 0 10px
		#login
			margin-left 10px

			a
				font-size 12px
	#main
		.right-panel-properties
			display none
		.item-details
			margin-left 5px
			margin-right 5px
			width 96%

			.item-title 
				.title 
					
					h1 
						font-size 1.3em
				.servicios-adicionales
					font-size 1.5em
		#main-site 
			#top 
				.pregunta
					background $naranja


			
		.side-panel
			margin-left 5px
			width 96%
		.panel
			
			.column
				width 100%
		
						
		.column-1
			margin-right 0	

		.slider  #main-site #middle, .slider #main-site #bottom
			display none

	footer 
		#gray_block 
			#menu_footer 
				ul 
					padding 0
					text-align center
					li
						
						padding-right .3em
			
		#copyright
			height auto
			font-size 13px

			#info, #redes
				padding-top 10px
			#info
				text-align center
				display block
			#redes
				display none
			
